<link rel="stylesheet" href="/css/faculty_dashboard.css">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<nav id="navbar" class="">
    <div class="nav-wrapper">
      <!-- Navbar Logo -->
      <div class="logo">
        <!-- Logo Placeholder for Inlustration -->
        <a href="/"><i class="fa fa-angellist"></i>Quola</a>
      </div>
  
      <!-- Navbar Links -->
      <ul id="menu">
        <li><a href="/question">Questions</a></li><!--
     --><li><a href="/add">Add Question</a></li>
     <li><a href="/generate">Generate Paper</a></li>
      </ul>
    </div>
  </nav>


<p class="line-1 anim-typewriter" style="color: black;">Message</p>